<p id="notice"><%= notice %></p>

<h1>Listing Job Profiles</h1>

<table>
  <thead>
    <tr>
      <th>Description</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @job_profiles.each do |job_profile| %>
      <tr>
        <td><%= job_profile.description %></td>
        <td><%= job_profile.user.email %></td>
        <td><%= link_to 'Show', job_profile %></td>
        <td><%= link_to 'Edit', edit_job_profile_path(job_profile) %></td>
        <td><%= link_to 'Destroy', job_profile, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Job profile', new_job_profile_path %>
