<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @job_profile.description %>
</p>

<p>
  <strong>User:</strong>
  <%= @job_profile.user %>
</p>

<%= link_to 'Edit', edit_job_profile_path(@job_profile) %> |
<%= link_to 'Back', job_profiles_path %>
